.contain {
  object-fit: contain;
}

.same-height {
  height: 300px;
}

.product-container {
  margin: 50px auto;
}

.catalog-button {
  padding-top: 3rem;
}

.card {
  padding: 30px 15px;
}

.cart-item {
  height: 350px;
  display: flex;
  align-items: center;
}

.cart-image {
  height: 300px;
}

.sub-div {
  height: 100%;
}
